{% extends "base.html" %}
{% load static %}
{% block title %} Our Events {% endblock  %}

{% block content %}

    <!-- Events Section -->
    <section id="events" class="events section">

        <img class="slider-bg" src="{% static 'assets/img/events-bg.jpg' %}" alt="" data-aos="fade-in">
  
        <div class="container">
  
          <div class="swiper init-swiper" data-aos="fade-up" data-aos-delay="100">
            <script type="application/json" class="swiper-config">
              {
                "loop": true,
                "speed": 600,
                "autoplay": {
                  "delay": 5000
                },
                "slidesPerView": "auto",
                "pagination": {
                  "el": ".swiper-pagination",
                  "type": "bullets",
                  "clickable": true
                }
              }
            </script>
            <div class="swiper-wrapper">
  
              <div class="swiper-slide">
                <div class="row gy-4 event-item">
                  <div class="col-lg-6">
                    <img src="{% static 'assets/img/events-slider/events-slider-1.jpg' %}" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>Birthday Parties</h3>
                    <div class="price">
                      <p><span>$189</span></p>
                    </div>
                    <p class="fst-italic">
                      Birthday Party at Northern Safaris' Camp
                    </p>
                    <ul>
                      <li><i class="bi bi-check2-circle"></i> <span>Celebrate your special day in a truly unforgettable setting at Northern Safaris'
                   Camp! Nestled between the stunning landscapes of Samburu and overlooking the majestic Sabashe Mountain, our camp offers the perfect backdrop for a memorable birthday celebration. Whether you're looking for a serene gathering with family and friends or an adventurous outdoor party, we tailor the experience to suit your needs.

                        Enjoy delicious meals from our menu, immerse yourself in the local Samburu culture with traditional dances, and take in breathtaking views of the surrounding national reserves. Our team will ensure that every detail of your birthday is taken care of, from decorations to activities, creating a unique and personalized event that will leave you with lasting memories. Let Tiger's Cave Camp make your birthday an extraordinary experience!.</span></li>
                      
                    </ul>
                  
                  </div>
                </div>
              </div><!-- End Slider item -->
  
              <div class="swiper-slide">
                <div class="row gy-4 event-item">
                  <div class="col-lg-6">
                    <img src="{% static 'assets\img\wine-6174460_1280.jpg' %}" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>Private Parties at Northen Safaris' Camp</h3>
                    <div class="price">
                      <p><span>$290</span></p>
                    </div>
                    <p class="fst-italic">
                      Celebrate your special moments in a truly extraordinary setting at Northen Safaris' Camp. Whether it's a birthday, anniversary, or a private gathering with friends and family, our camp offers the perfect venue for an intimate and memorable event. Located in the picturesque Samburu region, with stunning views of the Ewaso Nyiro River and the majestic Sabashe Mountain, our camp provides a unique and serene environment for any occasion.

Our dedicated team will work with you to create a personalized experience, from customizing the menu to organizing entertainment and decorations. You can also immerse yourself in the local Samburu culture, with traditional dances and the chance to interact with the community. Whether you prefer an indoor celebration or an outdoor event under the stars, Tiger's Cave Camp guarantees a private party that will leave you and your guests with unforgettable memories.
                    </p>
                   
                  </div>
                </div>
              </div><!-- End Slider item -->
  
              <div class="swiper-slide">
                <div class="row gy-4 event-item">
                  <div class="col-lg-6">
                    <img src="{% static 'assets\img\concert-3387324_1280.jpg' %}" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>Custom Parties</h3>
                    <div class="price">
                      <p><span>$99</span></p>
                    </div>
                    <p class="fst-italic">
                      Welcome to Custom Parties at Northen Safaris' Camp
                    </p>
                    <ul>
                      <li><i class="bi bi-check2-circle"></i> <span>At Northen Safaris' Camp, we understand that every celebration is unique, which is why we offer customized parties tailored to your specific needs and preferences. Whether you're planning a themed event, a corporate gathering, or a special milestone celebration, we work closely with you to bring your vision to life in a stunning natural setting.

                        Our camp’s breathtaking location between three national reserves and with direct views of Sabashe Mountain offers the perfect backdrop for any custom event. You can choose from a range of flexible venues, from intimate outdoor spaces by the river to stylish indoor settings. Our expert team will handle everything, from personalized menus and decor to music and entertainment, ensuring your event is seamless and unforgettable.
                        
                        We also offer the opportunity to incorporate the rich cultural heritage of the local Samburu community into your event, with traditional dances, music, and authentic experiences. Whatever your celebration, Northen Safaris' Camp provides a one-of-a-kind environment where your custom party becomes an unforgettable occasion..</span></li>
                      
                    </ul>
                    
                  </div>
                </div>
              </div><!-- End Slider item -->
  
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
  
      </section><!-- /Events Section -->
{% endblock %}